.resetPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .resetPasswordBox {
    background-color: rgba(255,255,255,0.13);
    box-shadow: rgba(21, 21, 21, 0.25) 0px 14px 28px, rgba(21, 21, 21, 0.25) 0px 10px 10px;
    
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .resetPasswordHeading {
    text-align: center;
 
    color: white;

    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid white;
    width: 50%;
    margin: auto;
  }
  
  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .resetPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .resetPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
  }
  .resetPasswordForm > div > input:hover{
    background-color: rgb(248, 245, 245);
  }
  .resetPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  input:focus {
    outline: none;
    border-color: #4092f6;
    box-shadow: 0 0 10px #4195fc;
  }
  .resetPasswordBtn {
    border: none;
    background-color: #ffc009;
    color: #383634;
    font: 300 1vmax "Roboto";
    font-weight: bolder;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .resetPasswordBtn:hover {
    background-color: #d2a00d;
    color: #000000;
  }
  
  @media screen and (max-width: 600px) {
    .resetPasswordContainer {
      background-color: black;
    }
    .resetPasswordBox {
      width: 100vw;
      height: 95vh;
      background-color: rgba(255,255,255,0.13);

    }
  
    .resetPasswordForm {
      padding: 5vmax;
    }
  
    .resetPasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .resetPasswordForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .resetPasswordBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }