
/* Custom class for light red background */
.bg-light-red {
    background-color: #9f40ec; 
  }
  
  /* Custom class to change the navbar brand text color to black */
  .navbar-brand-black {
    color: white !important; 
  }
  
  .responsive-div{
    border-radius: 1.39em;
    transition: all .5s;
    box-shadow: 8px 8px 18px 2px rgba(0, 0, 0, .1);
  }
  