.settingmaincontainer {
  width: 100%;
  height: 100vh;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  /* border: 2px solid yellow; */
}

.settingheader {
  width: 85%;
  height: 10vh;
  margin-top: 3%;
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settingheaderright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.settingheaderleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  font-weight: bolder;
}
.settingcontainer {
  /* border: 2px solid green; */
  width: 100%;
  height: 100vh;
  background-color: #ebecf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 2%;
}

.settingleft {
  width: 40%;
  height: 65vh;
  background-color: white;
  /* border: 2px solid red; */
  /* margin: 05%; */
  border-radius: 1.5%;
  padding: 3%;

  box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
  -webkit-box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
  -moz-box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
}
.settingright {
  padding: 3%;
  border-radius: 2%;
  width: 43%;
  height: 50vh;
  background-color: white;
  /* border: 2px solid red; */

  box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
  -webkit-box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
  -moz-box-shadow: 3px 1px 77px -19px rgba(51, 51, 51, 0.59);
}
.settingshdrightpassword {
  height: 65vh;
}

.inputdiv .inputBox {
  margin-bottom: 7%;
}
.inputdiv {
  /* border: 2px solid blue; */
  margin-top: 4%;
  margin-left: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
}

.setttingmenu {
  margin-top: 4%;
  width: 90%;
  list-style-type: none; 
  /* border: 2px solid black; */
}

.setttingmenu li div {
  width: 100%;
  height: 70px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  padding-left:2%;
  font-weight: 500;
  border-bottom: 2px solid #ebecf0;

  cursor: pointer;
}

.settingslabel {
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px;
}

.clicked {
  border-left: 5px solid blue;
  background-color: #ebecf0;
}

.settingsimg {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 7px;
  /* color: rgb(95, 175, 207); */
}

.settingshd {
  font-size: 22px;
  font-weight: 600;
}

.settingh4{
  font-size: large;
}


.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
}

.svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.languageSelect {
  width: 200%; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f8f8f8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" fill="%23aaa"><path d="M1408 768q0 26-19 45t-45 19H704q-26 0-45-19t-19-45q0-26 19-45l320-320q19-19 45-19t45 19l320 320q19 19 19 45zm0 512q0 26-19 45l-320 320q-19 19-45 19t-45-19l-320-320q-19-19-19-45 0-26 19-45t45-19h640q26 0 45 19t19 45z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}

.inputBox {
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.btn-lg {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
}


.languageSelectContainer {
  position: relative;
}
/* 
.languageSelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

/* Media query for small screens */
@media (max-width: 768px) {
  .languageSelect {
    font-size: 14px;
    padding: 8px;
  }
}